/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

@layer components {
	.link-menu {
		@apply text-white px-5 py-2 block text-sm hover:bg-white/10 transition-colors ease-in duration-150 sm:p-0 sm:hover:bg-transparent sm:hover:text-amber-300;
	}

	.main-container {
		@apply xl:max-w-5xl md:max-w-2xl md:mx-auto;
	}

	.title-content {
		@apply text-slate-300 font-semibold text-3xl;
	}

	.section {
		@apply mt-32 scroll-mt-24 sm:scroll-mt-36;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #1e293b;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #334155;
	border-radius: 10px;
}
