---
import BaseLayouts from '../layouts/BaseLayouts.astro';
---

<BaseLayouts>
	<div class="text-center">
		<h1 class="text-9xl font-bold text-amber-300">404</h1>
		<p class="text-slate-300 text-2xl mt-1">Page Not Found</p>
		<a href="/" class="font-semibold text-amber-300 border-amber-300 duration-300 border rounded-md px-10 py-3 text-base mt-10 block w-max hover:bg-amber-300 hover:text-slate-900 mx-auto">Go Back</a>
	</div>
</BaseLayouts>
