---
import AsideSocialMedia from './AsideSocialMedia.astro';
---

<footer class="main-container px-4 mt-40 sm:pl-20 md:pr-0 text-slate-400 text-sm pb-5 text-center">
	<AsideSocialMedia visibility="true" />
	<p class="mt-5 leading-7">
		&copy; 2022 - Indonesia. Designed by <a href="https://brittanychiang.com/" target="_blank" class="text-teal-400 underline">Brittany Chiang</a> & Made with <a href="https://astro.build/" target="_blank" class="text-violet-500 underline"
			>Astro</a
		>.
	</p>
</footer>
